body{
    color:black;
    background-color: aqua;
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Times New Roman';
    background-color: bisque;
}
p{
    color: blueviolet;
    font-size: 12px;
}